<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date %5level [%thread] (%file:%line) - %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Users\Richard\AppData\Local\MobiGame/logs/updater.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <maximumFileSize value="1MB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <!-- Pattern to output the caller's file name and line number -->
        <conversionPattern value="%date [%thread] %5level (%logger) - %message%newline" />
      </layout>
    </appender>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="https://logs-01.loggly.com/" />
      <!--add loggly customer token here-->
      <inputKey value="5b54b21f-6ef0-4fe1-818d-d834760d845a" />
      <tag value="mobigame,updater" />
      <globalContextKeys value="emulatorId,installationId,version,platform" />
      <threshold value="Info" />
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="Console" />
      <appender-ref ref="LogglyAppender" />
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>

  <appSettings>
    <add key="ScheduleTimeSec" value="3600" />
    <add key="WaitPlayerCloseTimeMin" value="360" />
    <add key="SendMSIRunnerCloseTimeMin" value="20" />
    <add key="SendUpdaterOnlineTimeMin" value="720" />
    <add key="DownloadJSONURL" value="http://mbdl219.com/installer/vb-mobigame-version-custom.json" />
    <add key="RegistryKey32" value="SOFTWARE\Wow6432Node\Microsoft\Windows\CurrentVersion\Uninstall" />
    <add key="RegistryKey64" value="SOFTWARE\Microsoft\Windows\CurrentVersion\Uninstall" />
    <add key="ProgramGUID" value="{0CD5AE2D-BB58-4E35-8B5C-AFE974A88E19}" />
    <add key="ProfileUser" value="C:\Users\Richard" />
    <add key="DesktopUser" value="C:\Users\Richard\Desktop" />
    <add key="Version" value="3.8.15.0" />
    <add key="UserSid" value="S-1-5-21-1279652334-1823403598-161908760-1001" />
    <add key="StatisticsUrl" value="http://stats.emu.codes" />
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>